<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 
       <!-- 编码过滤器 --> 
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.itcast.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itcast.goods.user.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.itcast.goods.category.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.itcast.goods.book.web.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartItemServlet</display-name>
    <servlet-name>CartItemServlet</servlet-name>
    <servlet-class>cn.itcast.goods.cart.web.servlet.CartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemServlet</servlet-name>
    <url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.itcast.goods.order.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Loginfilter</display-name>
    <filter-name>Loginfilter</filter-name>
    <filter-class>cn.itcast.goods.filter.Loginfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <url-pattern>/Loginfilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Loginfilter</filter-name>
    <servlet-name>CartItemServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.itcast.goods.admin.admin.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryServlet</display-name>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.itcast.goods.admin.category.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBookServlet</display-name>
    <servlet-name>AdminBookServlet</servlet-name>
    <servlet-class>cn.itcast.goods.admin.book.AdminBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBookServlet</servlet-name>
    <url-pattern>/admin/AdminBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddServlet</display-name>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>cn.itcast.goods.admin.book.AdminAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/admin/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderServlet</display-name>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>cn.itcast.goods.admin.order.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/admin/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>cn.itcast.goods.admin.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/adminjsps/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>